* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background: #04467c;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5rem;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  nav {
    background: #1cadad;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background: #ca7272;
    border-radius: 4px;
  }
  
  .section {
    padding: 40px 0;
    background-color: white;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
 ul.skills-list {
    list-style: none;
    padding-left: 20px;
  }
  
  ul.skills-list li {
    margin: 10px 0;
  }
  
  ul li a {
    color: #007bff;
    text-decoration: none;
  }
  
 ul li a:hover {
    text-decoration: underline;
  }

  /* projects section */
#projects ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 20px; 
    justify-content: center; 
    overflow-x: auto; 
  }
  
 
  #projects ul li {
    width: 150px; 
    text-align: center; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    overflow: hidden; 
  }
  
 
  #projects li img {
    width: 100%;
    height: auto; 
    max-height: 120px; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd; 
  }
  

 
 
    
  
footer {
    background: #1a1717;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer .social-media {
    margin-top: 10px;
  }
  
  footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer .social-media a:hover {
    text-decoration: underline;
  }
  